body {
    background: white;
    color: black;
    transition: background 0.3s, color 0.3s;
  }

  body.dark-mode {
    background: #2d2c2c;
    color: rgb(196, 196, 196);
  }

.navbar-custom {
      background: linear-gradient(to right, #0d48a167, #03c162); /* Gradiente de azul a verde/naranja */
    }
    .footer-custom{
      background: linear-gradient(to right, #0d48a167, #03c162);
    }  

.titulo{
  padding-top: 70px;
}

#smartFooter {
    transition: transform 0.4s ease-in-out, opacity 0.3s ease;
  }

#smartFooter.hidden {
    transform: translateY(100%);
    opacity: 0;
    pointer-events: none;
  }

#smartFooter.show {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

