/* Estilos base (modo claro) */
body {
  background-color: white;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

/* Estilos para modo oscuro */
body.dark-mode {
  background-color: #121212;
  color: #f0f0f0;
}

button.night {
  padding: 8px 16px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

body.dark-mode button.night {
  background-color: #555;
}